body{
	!font-family:Arial,Verdana,Sans-serif;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	!font-family:'supermarket';
	!font-family:'nithan';
	font-size:14sspx;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	margin-left: 5; 
	}
form{
	!font-family:Arial,Verdana,Sans-serif;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size:14px;			
	}
form.header{
	!font-family:Arial,Verdana,Sans-serif;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size:10px;			
	}	
table{
	!font-family:Arial,Verdana,Sans-serif;
	!font-family:Arial, Helvetica, Sans-serif;
	!font-size:14px;	
	!border: 3px solid black;	
}
table.report{
	!font-family:Arial,Verdana,Sans-serif;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size:20px;	
	border: 1px solid #000000;  	
	size: landscape;
	page-break-after: always;
}
tr.report{
	!font-family:Arial,Verdana,Sans-serif;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size:18px;	
	border: 1px solid #000000;  	
}
td.report{
	!font-family:Arial,Verdana,Sans-serif;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size:18px;	
	border: 1px solid #000000;  	
}
table.fastq {	
	background-color: #F5DA81;
	color: BLACK;
	border: 3px solid white;	
	text-align:center;
	margin-top: 0px;
	!padding-top: 10px;
}
tr.fastq, td.fastq{	
	background-color: #F5DA81;
	color: BLACK;
	border: 3px solid white;	
	text-align:center;
	margin: 0px;
	padding: 10px;
}
table.fastq-green {	
	background-color: #5FB404;
	color: BLACK;
	border: 3px solid white;	
	text-align:center;
	margin-top: 0px;
	!padding-top: 10px;
}
tr.fastq-green, td.fastq-green{	
	background-color: #5FB404;
	color: BLACK;
	border: 3px solid white;	
	text-align:center;
	margin: 0px;
	padding: 5px;
}
td.fastq-lightgreen, tr.fastq-lightgreen{	
	background-color: #BEF781;
	color: BLACK;
	border: 3px solid white;	
	text-align:center;
	margin: 0px;
	padding: 5px;
}
input.fastq { 
	!font-family:'supermarket';
	font-size:28px;	
	background-color: #D7E5F2;    
	color: #102132;    
	border: 1px solid #000000;    
	margin-right: 0px;
	text-align: center;    
}
select.fastq, option.fastq{
	!font-family:'supermarket';
	font-size:26px;	
	background-color: #D7E5F2;    
	color: #102132;    
	border: 1px solid #000000;    
	margin-right: 0px;
	text-align:center;
}
a:link 
{color: #cc9966;text-decoration: none}
a:visited 
{color: #cc9966;text-decoration: none}
a:hover 
{color: #48D1CC;text-decoration: none}
a:active 
{color: #cc9966;text-decoration: none} 
input { 
	font: bold 18px Verdana, Geneva, Arial, Helvetica, sans-serif;    
	background-color: #D7E5F2;    
	color: #102132;    
	border: 1px solid #000000;    
	margin-right: 0px;    
}
input.header { 
	font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;    
	background-color: #D7E5F2;    
	color: #102132;    
	border: 1px dotted #000000;    
	margin-right: 0px;    
}
select { 
	font: bold 14px Verdana, Geneva, Arial, Helvetica, sans-serif;    
	background-color: #D7E5F2;    
	color: #102132;    
	border: 1px solid #000000;    
	margin-right: 0px;    
}
select.header { 
	font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;    
	background-color: #D7E5F2;    
	color: #102132;    
	border: 1px dotted #000000;    
	margin-right: 0px;    
}
h1{
	#color: #2E8B57;  
}
pre.codeblue {background-color:#F3F8FC; border:1px solid #006CA2; font-family:courier new,courier,monospaced; font-size:100%; margin:10px 0pt 10px 15px; overflow-x:auto; overflow-y:hidden; padding:10px 10px 20px; width: 50em;}

.large_label {
	font-size: 24px;
}

/*
input[type="radio"].large_radio:checked + label.large_label { text-decoration: underline; }


input[type="radio"].large_radio {
    display:none;
}

input[type="radio"].large_radio + label.large_label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="radio"].large_radio + label.large_label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked.large_radio + label.large_label span {
    background:url(check_radio_sheet.png) -57px top no-repeat;
}
*/

input[type="radio"].large_radio {
    display:none;
}

input[type="radio"].large_radio + label {
    font-size:24px;
}

input[type="radio"].large_radio + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(img/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"].large_radio:checked + label span {
    background:url(img/check_radio_sheet.png) -57px top no-repeat;
}

input[type="radio"].large_radio:checked + label {
	text-decoration:underline;
	color:teal;
	background-color:#FFFF66;
}

hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

@font-face {
	font-family: 'supermarket';
	src: url('font/supermarket.eot');
	src: url('font/supermarket.eot?#iefix') format('embedded-opentype'),
		 url('font/supermarket.woff') format('woff'),
		 url('font/supermarket.ttf') format('truetype'),
		url('font/supermarket.svg#supermarket') format('svg');
	font-weight: normal;
	font-style: normal;
	}

input[type="submit"]{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	
	background-color:#5da423;
	cursor:hand;
	border:1px solid #222222;
}

input[type="submit"]:hover{
    background-color:#FFFF66;
}