body{
	font-size:40px;
	!background-color: #F5F5DC;
	font-family:'Supermarket'; 
	line-height:1;
	font-size:30px;
	text-align: center;
	background-color:#FFFFFF;
	background-image:url(img/bg_vine_1400.jpg);
	background-attachment:fixed;
	background-repeat:inherit;
	background-position:top center;
	}
form{
	font-family:'supermarket';
	font-size:40px;	
	}
table{
	font-family:'Supermarket'; 
	font-size:20px;	
}

a:link 
{color: #FF4500;text-decoration: none}
a:visited 
{color: #FF4500;text-decoration: none}
a:hover 
{color: #48D1CC;text-decoration: none}
a:active 
{color: #FF4500;text-decoration: none} 
input { 
	font-family:'supermarket';
	font-size:40px;	
	background-color: #D7E5F2;    
	color: #102132;    
	border: 1px solid #000000;    
	margin-right: 0px;    
}
select { 
	font: bold 14px Verdana, Geneva, Arial, Helvetica, sans-serif;    
	background-color: #D7E5F2;    
	color: #102132;    
	border: 1px solid #000000;    
	margin-right: 0px;    
}

pre.codeblue {background-color:#F3F8FC; border:1px solid #006CA2; font-family:courier new,courier,monospaced; font-size:100%; margin:10px 0pt 10px 15px; overflow-x:auto; overflow-y:hidden; padding:10px 10px 20px; width: 50em;}


@font-face {
	font-family: 'supermarket';
	src: url('font/supermarket.eot');
	src: url('font/supermarket.eot?#iefix') format('embedded-opentype'),
		 url('font/supermarket.woff') format('woff'),
		 url('font/supermarket.ttf') format('truetype'),
		url('font/supermarket.svg#supermarket') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
.font-super {
	font-family:'Supermarket'; 
}